.feedback{
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.7) ;
}
.feedback-msg1{
display: flex;
justify-content: center;
align-items: center;
color: white;
}

.feedback-msg2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.feedback-button-play-again{
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
  border: none;
  height: 50px;
  width: 100px;
  letter-spacing: 2px;
  background-color: rgb(36, 3, 56);
  text-transform: uppercase;
}

.feedback-button-ranking{
  font-size: 10px;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
  border: none;
  height: 50px;
  width: 100px;
  letter-spacing: 2px;
  background-color: rgb(36, 3, 56);
  text-transform: uppercase;
}