.container {
  background: #fff;
  height: 474px;
  position: absolute;
  width: 792px;
}

.feedbackText {
  color: #000;
  font-family: Roboto;
  font-size: 46px;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  height: 188px;
  line-height: 54px;
  text-align: center;
  width: 396px;
}

.btnVerRanking {
  background: #f0f0f0;
  height: 70px;
  position: absolute;
  width: 374px;
}

.textBtnVerRanking {
  color: #000;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  height: 38px;
  line-height: 37px;
  position: absolute;
  text-align: center;
  width: 204px;
}

.btnJogarNovamente {
  background: #86d660;
  height: 70px;
  position: absolute;
  width: 374px;
}

.textBtnJogarNovamente {
  color: #000000;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  height: 38px;
  line-height: 37px;
  position: absolute;
  text-align: center;
  width: 301px;
}
