
.loading{
    padding-top: 100px;
    position: relative;
    font-size: 3rem;
    font-weight: 800;
    color: #5E3448;
    text-transform: uppercase;
    border-bottom: 6px solid #5E3448;
    letter-spacing: 0.05em;
    line-height: 1em;
}

.loading::before{
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    color: #008BBA;
    border-bottom: 6px solid #008BBA ;
    animation: animate 0.8s linear infinite;
}

@keyframes animate
{
    0%
    {
        width: 0;
    }
    100%
    {
        width: 100%;
       
    }
}