*{
    box-sizing: border-box;
    padding: 0 auto;
  }

  body { 
    /* background: linear-gradient(90deg, rgb(206, 158, 238) 0%, rgb(252, 120, 120) 50%, rgb(255, 199, 122) 100%); */
    background-image: url(../src/img/trivia-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  